<main>		
    
    <div class="cd-index cd-main-content">

        <!-- Page Content -->
        <div id="page-content" class="light-content">
            
            
            <!-- Header -->  
            <app-navbar></app-navbar>
            
            <!-- Main -->
            <div id="main">        
                
                <!-- Main Content -->
                <div id="main-content" class="split-slider full">
                                
                                
                    <!-- Showcase Holder -->
                    <div id="showcase-holder" class="disabled"> 
                        <div id="showcase-slider" class="swiper-container">
                            <div class="swiper-wrapper">
                        
                                <!-- Section Slide -->
                                <div class="swiper-slide" data-number="01" data-slide="1">
                                    <span> 
                                        <div class="slide-title" data-number="01"><span>The Platform</span></div>
                                    </span>
                                    <div class="slide-caption" data-slide-caption="1">Platform where all the services provided by The brain hybrid artificial intelligence will be active and available.</div>
                                </div>
                                <!--/Section Slide -->		

                                <!-- Section Slide -->
                                <div class="swiper-slide" data-number="02" data-slide="2">
                                    <span> 
                                        <div class="slide-title" data-number="02"><span>Hybrid Intelligence</span></div>
                                    </span>
                                    <div class="slide-caption" data-slide-caption="2">Automatic and hybrid commercial solutions connecting to all assets in the markets, working in synergy with a revolutionary cryptoactive system.</div>
                                </div>
                                <!--/Section Slide -->		

                                <!-- Section Slide -->
                                <div class="swiper-slide active" data-number="03" data-slide="3">                                    
                                    <span>
                                        <div class="slide-title" data-number="03"><span>Education & Instruments</span></div>                         
                                    </span>           
                                    <div class="slide-caption" data-slide-caption="3">It provides a revolutionary super system in the world of cryptocurrencies and information, where an internal limit of the real-time currency market will develop.</div>
                                </div>
                                <!--/Section Slide -->								
                                
                            </div>             
                        </div>
                    </div>    
                    <!-- Showcase Holder -->
                    
                    
                    <!-- Showcase Gallery -->
                    <div id="image-slider">
                        <div class="image-slider-wrapper">        
                            <div class="slider-img" data-slide="1" data-src="assets/grenada/images/video2.png">
                                <div class="hero-video-wrapper">
                                    <video [loop]="true" [autoplay]="true" [muted]="true" class="bgvid">
                                        <source 
                                        src="assets/videos/video2.mp4" 
                                        type="video/mp4">
                                        <source 
                                        src="assets/videos/video2.webm" 
                                        type="video/webm">
                                    </video>
                                </div>
                            </div>   
                            <div class="slider-img" data-slide="2" data-src="assets/grenada/images/video3.png">
                                <div class="hero-video-wrapper">
                                    <video [loop]="true" [autoplay]="true" [muted]="true" class="bgvid">
                                        <source 
                                        src="assets/videos/video3.mp4" 
                                        type="video/mp4">
                                        <source 
                                        src="assets/videos/video3.webm" 
                                        type="video/webm">
                                    </video>
                                </div>
                            </div>           
                            <div class="slider-img" data-slide="3" data-src="assets/grenada/images/video_education.png">
                                <div class="hero-video-wrapper">
                                    <video [loop]="true" [autoplay]="true" [muted]="true" class="bgvid">
                                        <source 
                                        src="assets/videos/video_education.mp4" 
                                        type="video/mp4">
                                        <source 
                                        src="assets/videos/video_education.webm" 
                                        type="video/webm">
                                    </video>
                                </div>
                            </div>   
                        </div>
                    </div>
                    <!--/Showcase Gallery -->
                    
                            
                </div>
                <!--/Main Content --> 
            </div>
            <!--/Main --> 
            
            
            <!-- Footer -->
            <footer class="fixed">        	
                <div id="footer-container">
                    
                    <div id="counter-wrap" data-hover="04">
                        <span data-slide-count="1">01</span>
                        <span data-slide-count="2">02</span>
                        <span data-slide-count="3">03</span>
                        <span data-slide-count="4">04</span>
                    </div>

                    <div id="xa-wrap">
                        <a class="btn-footer" (click)="goTo(['/register'])">
                            Get exclusive access
                        </a>
                    </div>
                    
                    
                </div>
            </footer>
            <!--/Footer -->
            
            
        </div>    
        <!--/Page Content -->
        
    </div>
</main>        
        